// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
    --ion-color-primary: #00a69c;
    --ion-color-secondary: #f05b8c;
    --ion-padding:16px
}
